

* {
    margin: 0px;
    padding: 0px;
    
}
/* Body */
body {
    background-image: url("ASSETS/background_image.jpg");
    background-size: cover;
    color: rgb(255, 255, 255);
}

/* Navbar */
.navbar {
    height: 90px;
    width: 100%;
    position: fixed;
    background-color: rgba(61, 60, 60, 0.2);
    backdrop-filter: blur(10px);
    align-content: center;
    text-align: center;
    z-index: 9999;
}

section {
    padding-left: 60px;
    margin-bottom: 50px;
    padding-top: 100px;
 
}

/* Hero Section */
.home {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}
.hero {
    line-height: 80px;
}

#hero-name {
    color: #00aaff;
    font-size: 50px;
    font-family: Georgia;
}
#hero-branch {
    font-weight: 200;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#hero-about {
    line-height: 25px;
    color: #abe2ff;
}

a {
    color: white;
    text-decoration: none;
    margin-right: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 5px;
    position: relative;
}

/* Fake underline */
a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px; 
    height: 3px;
    width: 0;
    background: #00aaff;
    border-radius: 6px;
}

/* Hover animation */
a:hover::after {
    animation: textUnderline 0.4s forwards ease;
}

@keyframes textUnderline {
    from { width: 0%;}
    to { width: 100%;}
}
.hero {

    animation: slideIn 2.5s infinite alternate;
    opacity: 0;
}


@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Profile Logo */
#profile {
    width: 350px;        
    height: 350px;       
    border-radius: 50%;  
    object-fit: cover; 
    transition: 0.3s ease;
    margin-right: 30px;
    margin-top: 10px;
    border: 2px solid white;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.6);
}
#profile:hover {
    transform: scale(1.05);
    box-shadow: 0 0 60px rgba(255, 255, 255, 0.6);
    
}

/* About Section */
 .about-section {
    display: flex;
    justify-content: space-between;
    padding: 120px 60px;
}

/* LEFT SIDE */
.about-left {
    width: 55%;
}
.about-left span {
    color: #00aaff;
    font-weight: 600;
}

.about-left h2 {
    font-size: 42px;
    margin-bottom: 20px;
}

.about-left p {
    font-size: 18px;
    line-height: 28px;
    opacity: 0.9;
}

/* RIGHT SIDE QUICK INFO */
.about-right {
    width: 35%;
    background: rgba(255,255,255,0.1);
    padding: 25px;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.2);
}
.about-right:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
}

.about-right h3 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.about-right ul {
    list-style: none;
    padding: 0;
}

.about-right ul li {
    font-size: 18px;
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding-bottom: 8px;
}

.about-right strong {
    color: #00d0ff;
}

/* Education Section */
/* Section Title */
.section-title {
    font-size: 42px;
    margin-bottom: 30px;
    padding-left: 5px;
}

/* Education Container */
.education-section {
    padding: 120px 60px;
}

.education-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Each Education Card */
.edu-card {
    display: flex;
    align-items: flex-start;
    background: #1d1a2f;
    border: 1px solid rgba(255,255,255,0.2);
    padding: 20px;
    border-radius: 15px;
    transition: 0.3s;
}

/* Hover Effect */
.edu-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 20px rgba(255,255,255,0.2);
}

/* Icon Style */
.edu-icon {
    font-size: 35px;
    margin-right: 20px;
    color: #00eaff;
    opacity: 0.9;
}

/* Text Content */
.edu-content h3 {
    font-size: 24px;
    margin-bottom: 5px;
}
.edu-place {
    color: #00aaff;
}

.edu-place,
.edu-duration,
.edu-score {
    font-size: 18px;
    opacity: 0.85;
    margin-bottom: 3px;
}

/* Skills Section */
.skills-section {
    padding: 120px 60px;
}

.section-title {
    font-size: 42px;
    margin-bottom: 40px;
}

.skills-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.skill-card {
    background-color: #1d1a2f;
    padding: 30px 20px;
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    text-align: center;
    transition: 0.3s ease;
}

.skill-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 20px rgba(255,255,255,0.2);
}

.skill-card i {
    font-size: 40px;
    margin-bottom: 15px;
    color: #00eaff;
}

.skill-card h3 {
    font-size: 22px;
}
.skills-subtext {
    font-size: 20px;
    opacity: 0.9;
    margin-bottom: 35px;
}
.skills-subtext span {
    color: #00aaff;
    font-weight: 600;

}

.certificates-section {
    padding: 120px 60px;
}

.section-title {
    font-size: 40px;
    margin-bottom: 20px;
}

.cert-subtext {
    font-size: 18px;
    opacity: 0.9;
    margin-bottom: 40px;
}
.cert-subtext span {
    color: #00aaff;
}

/* Cards Grid */
.cert-container {
    display: grid;
    gap: 25px;
}

/* Certificate Card */
.cert-card {
    background-color: #1d1a2f;
    border: 1px solid rgba(255,255,255,0.2);
    padding: 25px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    text-align: center;
    transition: 0.3s ease;
}

/* Hover Effect */
.cert-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 25px rgba(255,255,255,0.2);
}

/* Icon */
.cert-icon {
    font-size: 40px;
    color: #00eaff;
    margin-bottom: 15px;
}

/* Certificate Title */
.cert-card h3 {
    font-size: 22px;
    margin-bottom: 8px;
}

/* Button */
.view-btn {
    display: inline-block;
    padding: 8px 15px;
    background: #00eaff;
    color: #000;
    margin-top: 12px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.view-btn:hover {
    background: white;
}

.projects-section {
    padding: 120px 60px;
}

.section-title {
    font-size: 40px;
    margin-bottom: 20px;
}

.project-subtext {
    font-size: 18px;
    opacity: 0.9;
    margin-bottom: 40px;
}

/* Grid container */
.projects-container {
    display: grid;
    gap: 30px;
}

/* Project card */
.project-card {
    background: rgba(255,255,255,0.08);
    border: 1px solid rgba(255,255,255,0.2);
    padding: 25px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    transition: 0.3s ease;
}

/* Hover effect */
.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 25px rgba(255,255,255,0.2);
}

/* Title */
.project-title {
    font-size: 26px;
    margin-bottom: 10px;
}

/* Tech Stack */
.project-tech {
    font-size: 16px;
    margin-bottom: 15px;
    color: #00eaff;
}

/* Description */
.project-desc {
    font-size: 18px;
    line-height: 28px;
    opacity: 0.9;
    margin-bottom: 20px;
}

/* Buttons */
.project-buttons a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
}

.btn-code {
    background: #00eaff;
    color: black;
    margin-right: 12px;
}

.btn-code:hover {
    background: white;
}

.btn-live {
    border: 2px solid #00eaff;
    color: #00eaff;
}

.btn-live:hover {
    background: #00eaff;
    color: black;
}

/* Contact Section Layout */
.contact-section {
    padding: 120px 60px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.section-title {
    font-size: 42px;
}

/* LEFT SIDE */
.contact-left {
    width: 45%;
}

.contact-subtext {
    font-size: 18px;
    opacity: 0.9;
    margin-top: 15px;
    max-width: 500px;
}

/* Contact Details Icons */
.contact-details p {
    font-size: 18px;
    margin: 15px 0;
}

.contact-details i {
    color: #00eaff;
    margin-right: 10px;
}

.contact-links {
    text-decoration: none;
    border-bottom: none;
    margin-right: 0;
    padding-bottom: 0;
}

.contact-links::after {
    display: none;
}


/* RIGHT SIDE FORM */
.contact-right {
    width: 45%;
}

.contact-form {
    background: rgba(255,255,255,0.08);
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.2);
}

/* Form Fields */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 18px;
    display: block;
    margin-bottom: 6px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.1);
    color: white;
    font-size: 16px;
    outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #00eaff;
    box-shadow: 0 0 8px #00eaff;
}

/* Send Button */
.send-btn {
    width: 100%;
    padding: 14px;
    background: #00eaff;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.send-btn:hover {
    background: white;
}

/* Navbar scroll fix */
#contact {
    scroll-margin-top: 120px;
}


/* Footer section */
footer {
    height: 30px;
    align-content: center;
    padding: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    margin-top: 80px;
    font-size: 19px;
    background-color: rgb(0,0,0);
    color: white;
}


